/* Logo y botones */
.logo-menu{
    background-color:#85d4b7;
    margin: -10px;
    color: #ffffff;
}
.menu-boton{
   
    background:#278d68;
    color: #ffffff;
    display: inline-flex;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.menu-boton:hover{
   
    background:#45d6a1;
    color: #ffffff;
    display: inline-flex;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}
#logo{
    padding: 10px 50px;
}

/* Menu medio slider*/
.menu-perro{
    margin:-10px ;
    background:#54b692; 
    padding: 30px 0;
}

#perro{
   padding: 0px 10px; 
}

#iconos{
    padding : 0px 100px;
    
}
.mensaje{
    color: #ffffff;

}
h3{
    color: white;
    float : left;
}


/* Parrafos */
.parrafo1{
    float: left;
    text-align: end;
}

.parrafo2{
    float: right;
}

.camp{
    background: #ffffff;;
    color: #000000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #000000;
}

.camp:hover{
    background: #b1b1b1;;
    color: #000000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #000000;
}

#parr1{
    font-size: 14px;
}

#parr2{
    font-size: 14px;
}

/* Collage de perros */
.collage{
    margin: 10px 0;
    background: linear-gradient(to left, #49a09d, #3752c9); 
    padding: 10px;
}


.collage .columna1 img{
        width: 70%;
        margin-bottom:5px;
        box-sizing: border-box;  
    }

.collage .columna2 img{
        width: 50%;   
    }
.collage .columna3 img{
        width: 78%;    
    }


/* Pie de pagina*/
footer{
    background: #cfcfcf;
    clear: both;
    padding:20px;
    font-size: 10px;
}


/* Responsive config */


@media only screen and (max-width: 700px) {
    .menu-boton{
   
        background:#278d68;
        color: #ffffff;
        display: block;
        padding: 10px 30px;
        margin: 1px;
        text-align: center;
        text-decoration: none;
    
    }
    .menu-boton:hover{
   
        background:#45d6a1;
        color: #ffffff;
        display: block;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
    }

    #parr1{
        font-size: 10px;
    
    }
    
    #parr2{
        font-size: 10px;
    }

    .collage .thumb img{
        width: 100%;
        
    }
    
}

@media	(max-width: 480px) {
	.collage .columna1 img{
        width: 70%;     
    }
    .collage .columna2 img{
        width: 50%;
        margin-bottom: 13px;
          
    }
    .collage .columna3 img{
        width: 78%;    
        margin-bottom: 13px; 
    }
}

